.imgP{
    position: sticky;
    width: 100%;
    left: 7%;
    top: 10%;
}

.fondo{
    background-color: rgb(205, 167, 97);
    width: 100%;
    height: 290%;
    position: absolute;
    left: 0%;
}

.Deuscopía{
    position: absolute;
    width: 40%;
    height: 50%;
    top: 90%; 
    left: 2%;
}

.SacraConversacion{
    position: absolute;
    width: 50%;
    height: 50%;
    top: 170%; 
    left: 48%;
}

.Freud{
    position: absolute;
    width: 30%;
    height: 50%;
    top: 240%; 
    left: 2%;
}

.Autoretrato{
    position: absolute;
    width: 30%;
    height: 50%;
    top: 310%; 
    left: 68%;
}

.titlestyle{
    font-family: Poppins;
    font-weight: bold;
    font-size: 200%;
    position: absolute;
}