.img_arte {
    position: absolute;
    left: 50px;
    top: 50px;
}
.princi{
    background-color: #BBB1A1;
    height: 280%;
    width: 90%;
    position: absolute;
    top: 79%;
    left: 5%;
}

.jumbotron {
    background-image: url("./imgs/arte.jpeg");
    position: sticky;
    height: 500px;
    color: aliceblue;
    
}

.firstBox {
    position: absolute;
    left: 10%;
    top: 7%;
}

.secondBox {
    position: absolute;
    left: 72%;
    top: 24%;
}

.thirdBox {
    position: absolute;
    left: 10%;
    top: 40%;
}
.cuabox{
    position: absolute;
    left: 72%;
    top: 56%;
}
.FithBox{
    position: absolute;
    left: 10%;
    top: 71%;
}
.sixbox{
    position: absolute;
    left: 72%;
    top: 87%;
}
.artpic1 {
    position: absolute;
    left: 180px;
    top: 450px;
}



.artpic2 {
    position: absolute;
    left: 875px;
    top: 600px;
}

.buttonstyle2 {
    position: fixed;
    left: 1060px;
    top: 650px;
}

.artpic3 {
    position: absolute;
    left: 180px;
    top: 735px;
}

.buttonstyle3 {
    position: fixed;
    left: 340px;
    top: 790px;
}