div.dos{
    position: absolute;
    top: 30%;
    left: 40%;
    height: 40%;
    width: 20%;
    opacity: 0.999;
}
img.cua{
    height: 100%;
    width: 100%;
}
div.tit{
    position: absolute;
    top: 9%;
    left: 36%;
    font-size: 44px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}